Flask
Flask-Cors
pymongo
cryptography
bcrypt
PyJWT
dnspython
gevent
greenlet
Flask-SocketIO
eventlet
python-dotenv
Werkzeug
itsdangerous
Jinja2
click
colorama
Flask-Login
gunicorn
email_validator
Flask-WTF
wtforms
Flask-Bcrypt
Flask-PyMongo
Flask-JWT-Extended
passlib
six
wheel
numpy
